{% extends 'base.html' %}
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}



<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

   
    <div class="container-fluid">
        
     <h4 class="page-title"> </h4>

        <div class="container px-4">
        <div class="row gx-5">
        <div class="col">
            <h4 style="text-align: center;">New Client Entry </h4>
            <div class="p-3 border bg-light">
                <div class="form-group">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>
        </div>
        
{% endblock %}