<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item {% if '/invoice/' == request.path %}active{% endif %}" href="{% url 'index' %}"> Dashboard </a>
        <a class="list-group-item {% if '/invoiced/' in request.path %}active{% endif %}" href="#"> All Invoices </a>
        <a class="list-group-item {% if '/edit_profile/' in request.path %}active{% endif %}" href="#"> Edit Profile </a>
        <a class="list-group-item {% if '/change_password/' in request.path %}active{% endif %}" href="#"> Change Password </a>
        
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
    
</aside>